body{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
     border: 1px solid  black;
     justify-content: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.green {
    background-color: #A8E6CF;
}

.white{
    background-color: white;
}

.butter{
    background-color: #E0E0E0;
}

.pink{
    background-color: #D9D2E9;
}

.programming {
    background-color: #FFCC80;
}

.talk {
    background-color: #CE93D8;
}

.purple {
    background-color: #9FA8DA;
}

.web {
    background-color: #EAD1DC;
}

.blue {
    background-color: #B3E5FC;
}

.garden {
    background-color: #C5E1A5;
}

.lunch {
    background-color: #D9EAD3;
}

.red {
    background-color: #80DEEA;
}